html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F5F5;
  color: #414751 !important;
}

a:link {
  text-decoration: none;
    box-shadow: none;
    color: #414751;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
